<div class="nav"><a class="waves-effect waves-light btn-large" id="loginButton">Login</a></div>
<div id="home">
  <div class="container">
    <div class="title">Podject: Unknown</div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12" id="searchDiv">
          <span>
            <textarea id="searchBar" class="materialize-textarea" placeholder="Search"></textarea>
          </span>
          <span>
            <a class="waves-effect waves-light btn-large" id="searchButton">Search</a>
          </span>
        </div>
      </div>
      <div id="chatBox" class="container">
        <form action="">
          <textarea id="messageBoard" class="materialize-textarea"></textarea>
          <textarea id="messageText" class="materialize-textarea"></textarea>
          <button id="sendMessage" class="btn waves-effect waves-light">Send
            <button id="closeChat" class="btn waves-effect waves-light">X
        </form>
      </div>
    </form>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
  </div>
</div>
<footer class="page-footer">
  <div id="footerBox" class="valign wrapper container">
    <a href="/auth/google">Login with Google</a>
    <button id="openChat" class="btn-large waves-effect waves-light">Chat
      <i class="small material-icons right">chat</i>
    </button>
  </div>
</footer>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/init.js"></script>
<script src="/js/index.js"></script> {{!-- link for google auth --}}
