<div class="outline">
  <div class="searchContainer">
    <div class="nav"><button class="class" id="buttonDiv"><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"><a
          href="/auth/google" id="loginButton">Login</a></button></div>
    <div class="title"><img src="../images/logo.png" </div> <form id="searchForm">
      <div class="input-field col s12 topBar" id="searchDiv">
        <span>
          <textarea id="searchBar" class="materialize-textarea" placeholder="Search"></textarea>
        </span>
        <span>
          <a class="waves-effect waves-light btn-large" id="searchButton">Search</a>
        </span>

      </div>
    </div>
  </div>
</div>
<div class="container" id="searchCont">
  Search Results
  <ul class="collapsible"></ul>
</div>





<!-- Modal Structure -->
<a href="#modal1" id="openChat" class="btn waves-effect waves-light modal-trigger">Chat<i class="small material-icons right">chat</i></a>
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <footer class="page-footer">
      <div id="chatBox" class="container">
        <form action="">
          <textarea readonly rows="10" id="messageBoard" class="materialize-textarea"></textarea>
          <textarea id="messageText" class="materialize-textarea"></textarea>
          <button id="sendMessage" class="btn waves-effect waves-light">Send
        </form>
      </div>
    </footer>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="/js/init.js"></script>
<script src="/js/index.js"></script>