body html {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(148, 1, 1);
}

.centerSearch {
  max-width: 50%;
}

.topBar {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#buttonDiv {
  padding: 0;
  padding: 5px;
  margin-top: 20px;
  width: 110px;
  line-height: 30px;
  text-align: right;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 0;
  float: right;
  font-weight: bold;
}

#buttonDiv img {
  max-height: 30px;
  max-width: 30px;
  float: left;
  padding: 0;
}

#searchForm {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

main {
  flex: 1 0 auto;
}

#openChat {
  position: fixed;
  bottom: 0;
  font-size: 24px;
  background-image: linear-gradient(black, rgb(53, 53, 53));
}

.page-footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(black, rgb(53, 53, 53));
  min-height: 200px;
}

#footerBox {
  height: 75px;
  padding: 0px;
  width: 100%;
}

#searchTop {
  margin: 0;
  height: 85px;
  border-bottom: 3px solid rgb(51, 49, 49);
  background-image: linear-gradient(black, rgb(53, 53, 53));
  margin-bottom: 75px;
}

.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.searchContainer {
  padding-bottom: 20px;
  color: white;
  background-image: linear-gradient(black, rgb(53, 53, 53));
  border-bottom: 1px solid rgb(148, 1, 1);
}

.outline {
  border-bottom: 3px solid rgb(51, 49, 49);
  height: auto;
}

.title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 325px;
}

#searchDiv {
  width: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

#searchButton {
  padding: 0;
  background-color: rgb(148, 1, 1);
  width: 14.5%;
  height: 45px;
  line-height: 45px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: none;
}

#searchBar {
  color: white;
  background-color: rgb(65, 64, 64);
  height: 29px;
  padding: 6px;
  padding-left: 15px;
  padding-top: 10px;
  float: left;
  border: 0;
  width: 85.5%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

textarea:focus {
  border-bottom: 1px solid red !important;
  box-shadow: none !important;
}

#loginButton {
  float: right;
}

a#loginButton {
  margin-right: 14px;
}

.collapsible {
  border: 1px solid rgb(148, 1, 1) !important;
  box-shadow: none;
}

.collapsible-body {
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid;
  color: black;
  font-size: 70%;
  text-align: left;
}

.collapsible-header {
  color: black;
  border: 1px solid black !important;
  height: 70px;
  padding: 0px;
  overflow: hidden;
  line-height: 70px;
  font-weight: bold;
  font-size: 80%;
  background-color: rgb(226, 224, 224);
}

.collapsible-header img {
  width: 150px;
  height: 150px;
  margin-right: 40px;
  -webkit-mask-image: -webkit-gradient( linear, left top, right top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#add {
  height: 40px;
  width: 40px;
  margin-left: auto;
  background-image: linear-gradient(black, rgb(53, 53, 53));
  text-align: center;
  line-height: 33px;
  color: white;
  font-weight: bold;
  font-size: 200%;
  margin-top: 13px;
  margin-right: 20px;
}

.modal-content {
  padding: 0 !important;
  min-height: 200px;
}

#searchCont {
  margin-top: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 150%;
}

#chatBox {
  visibility: hidden;
  z-index: 2;
  float: center;
}

#messageBoard {
  color: white;
  float: left;
}

#messageText {
  color: white;
  float: left;
}

#sendMessage {
  background-color: rgb(148, 1, 1);
  float: right;
}

#closeChat {
  visibility: hidden;
  background-color: rgb(148, 1, 1);
}

.bodyButton, .addReview {
  margin-top: 20px;
  margin-right: 15px;
  border: 0;
  background-image: linear-gradient(black, rgb(53, 53, 53));
  color: white;
  padding: 10px;
  font-weight: bold;
}

.bodyButton:hover, .addReview:hover {
  background-image: linear-gradient(rgb(49, 49, 49), rgb(88, 88, 88));
}

#searchResults {
  height: 30px;
  text-align: center;
  width: 100%;
}

#reviewLogo img {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

.reviewTitle, .hiddenForm {
  margin-top: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  text-align: center;
  border: 3px solid rgb(51, 49, 49);
  font-weight: bold;
  padding: 15px;
  overflow: hidden;
}

.hiddenForm {
  margin-top: 0;
  border-top: 0;
}

.reviewTitle img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  float: left;
  padding: 15px;
}

.reviewTitle p {
  text-align: left;
}

.reviewTitle h6 {
  text-align: left;
}

#textarea1 {
  width: 75% !important;
  min-height: 200px !important;
  border: 1pt solid black !important;
  padding: 20px !important;
}

select {
  display: block !important;
}